body {
    font-family: Arial;
    background-color: #f2f6f2;
}

h1, h2 {
    color: rgb(205, 10, 223);
}

table {
    margin-top: 10px;
    border-collapse: collapse;
}

th {
    background-color: rgb(160, 46, 206);
    color: white;
}

th, td {
    padding: 5px;
    text-align: center;
}